Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -cert-err34-c,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-restrict-system-libc-headers,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-math-missing-parentheses
